*, html, body {
    margin: 0;
    padding: 0;
}

Body {
    Background-image: url(background.jpeg);
    Background-size: cover;
    background-position: top;
}

h1, h2, h3, p {
    color: #FDFDFD;
    text-align: center;
}